.design-category-container {
  .design-category-container_title {
    margin-top: 3.5rem;
  }

  .design-category-container__card-container {
    margin-block: 1.5rem;
    gap: 20px;
    flex-wrap: wrap;
  }
}
