.px-page-default {
  padding-inline: 2rem;
}

// Flex Classes
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .px-page-default {
    padding-inline: 1rem;
  }
}
