.productContainer {
  .productContainer_title {
    color: #030303;
    font-size: 24px;
  }

  .productContainer_subTitle {
    color: #7e7e7e;
    font-size: 16px;
    margin-block: 5px;
  }

  .productContainer__cardContainer {
    margin-block: 2rem;
    gap: 1rem;
  }
}
