.shopCategoryContainer {
  .shopCategoryContainer_title {
    margin-block: 1.5rem;
  }

  .shopCategoryContainer__cardContainer {
    margin-block: 1.5rem;
    gap: 20px;
    flex-wrap: wrap;
    transition: flex-wrap 0.5s ease;
  }
}
