.navbarContainer {
  height: 88px;
  background-color: #2a292e;
  position: sticky;
  top: 0px;
  gap: 10px;
  z-index: 1;

  .navbarContainer_title {
    color: #fff;
    display: inline-block;
  }

  .searchInputContainer {
    > img {
      position: absolute;
      padding: 10px;
    }

    .searchInput {
      height: 40px;
      width: 35vw;
      padding-inline: 35px;
      border: none;
      outline: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &::placeholder {
        color: #a9a9a9;
        font-size: 14px;
      }
    }
  }

  > .rightSection {
    gap: 1.3rem;

    > img {
      height: 1.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    .navbarContainer_title {
      display: none;
    }
    > .rightSection {
      > img {
        height: 1.3rem;
      }
    }
  }
}
